.attributesPage {
  .contentSection {
    padding: 0 15px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin: 0;
        padding: 0;
      }
    }
    .mainContent {
      width: 57%;
      float: left;
      label {
        width: 100%;
        margin: 10px 0;
      }
      input, textarea {
        width: 100%;
        max-width: 100%;
        background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0.3) 100%);
        color: $glow-green-dark;
        border: none;
        border-radius: 5px;
        &:focus {
          outline: none;
        }
      }
      textarea {
        min-width: 100%;
        min-height: 110px;
        max-height: 110px;
      }
      .spinnerCont {
        label {
          width: 40%;
          float: left;
          .fa-info-circle {
            margin-left: 15px;
            cursor: pointer;
          }
        }
        .ui-spinner {
          width: 40%;
          float: left;
          border: none;
          background: none;
          margin: 10px 20% 10px 0;
          input {
            width: 50px;
            height: 30px;
            margin: 0 auto;
            display: block;
            position: relative;
            float: none;
            text-align: center;
            &:focus {
              outline: none;
            }
          }
          .ui-spinner-down {
            width: 50px;
            height: 30px;
            left: 20px;
            display: block;
            position: absolute;
            float: left;
            background: transparent;
            border: 2px solid $glow-green;
            border-radius: 0;
            text-indent: 0;
            cursor: pointer;
            font-size: 20px;
            &:before {
              font-family: FontAwesome;
              display: inline-block;
              padding-right: 3px;
              vertical-align: middle;
              content: $fa-var-minus;
              color: $glow-green;
            }
          }
          .ui-spinner-up {
            width: 50px;
            height: 30px;
            right: 20px;
            display: block;
            position: absolute;
            float: right;
            background: transparent;
            border: 2px solid $glow-green;
            border-radius: 0;
            text-indent: 0;
            cursor: pointer;
            font-size: 20px;
            &:before {
              font-family: FontAwesome;
              display: inline-block;
              padding-right: 3px;
              vertical-align: middle;
              content: $fa-var-plus;
              color: $glow-green;
            }
          }
        }
        &.active {
          label {
            font-weight: bold;
            color: $glow-green-dark;
            .fa-info-circle {
              display: none;
            }
          }
        }
      }
    }
    .subContent {
      width: 40%;
      margin-left: 3%;
      float:left;
      .titleCont {
        flex: 3;
        display: flex;
        flex-flow: row nowrap;
        margin-top: 10px;
        .sep {
          border-top: 2px solid;
          flex: 5;
          &.left{
            @include fade-border(bottom, left);
          }
          &.right{
            @include fade-border(bottom, right);
          }
        }
        .title {
          font-size: 1.3em;
          letter-spacing: 6px;
          margin-top: -2vh;
          text-align: center;
          flex-grow: 1;
          text-transform: uppercase;
        }
      }
      .bioCont {
        .titleCont {
          margin-top: 20px;
        }
        p {
          margin-top: 20px;
          text-align: left;
          padding: 0 15px;
        }
      }
      .specialCont {
        #statProgressBar {
          border: none;
          background: $black;
          .ui-progressbar-value {
            background: $glow-green-dark;
            border: none;
          }
        }
        .descCont {
          padding-top: 10px;
          .desc {
            p {
              font-size: 16px;
              padding: 0 15px;
            }
          }
        }
      }
    }
  }
}