$black: #000000;
$glow-green: #00e667;
$glow-green-dark: #00b350;
$dark-gradient-green: #041607;
$light-gradient-green: #11581E;
$transparent: rgba(0,0,0,0);

@mixin fade-border ($direction: top, $float: left){
  background-image: linear-gradient(to $direction, $glow-green, $transparent);
  background-repeat: no-repeat;
  background-size: 3px 5vh;
  background-position: $float;
}

.cf:before, .cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.attributesPage {
  font-family: 'Inconsolata', Helvetica, sans-serif;
  height:100%;
  position: relative;
  font-size: 1.6vw;
  padding: 20px 20px;
  color: $glow-green;
  background-color: $black;
  background-image:
          radial-gradient(
          $light-gradient-green,
          $dark-gradient-green
          );
}
#overlay {
  background: -webkit-repeating-linear-gradient(-90deg, rgba(0,0,0,0) 0, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 100%);
  background: -moz-repeating-linear-gradient(180deg, rgba(0,0,0,0) 0, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 100%);
  background: repeating-linear-gradient(180deg, rgba(0,0,0,0) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0,0,0,0) 100%);
  -webkit-background-size: auto 4px;
  background-size: auto 4px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 5;
}
.pageContent {
  width: 100%;
  height: 100%;
  position: relative;
}
.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  .pgTitle {
    flex: 3;
    display: flex;
    flex-flow: row nowrap;
    .sep {
      border-top: 2px solid;
      flex: 5;
      &.left{
        @include fade-border(bottom, left);
      }
      &.right{
        @include fade-border(bottom, right);
      }
    }
    .title {
      font-size: 1.3em;
      letter-spacing: 6px;
      margin-top: -2vh;
      text-align: center;
      flex-grow: 1;
      text-transform: uppercase;
    }
  }
  .statCont {
    flex: 1;
    margin: 0 10px;
    padding: 0 10px 0 0;
    border-top: 2px solid;
    @include fade-border(bottom, right);
    .label{
      float: left;
      text-transform: uppercase;
    }
    .value {
      float: right;
    }
  }
}
.contentSection {
  padding: 0 15px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin: 0;
      padding: 0;
    }
  }
  .mainContent {
    width: 57%;
    float: left;
    label {
      width: 100%;
      margin: 10px 0;
    }
    input, textarea {
      width: 100%;
      background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0.3) 100%);
      color: $glow-green-dark;
      border: none;
      border-radius: 5px;
    }
  }
  .subContent {
    width: 40%;
    margin-left: 3%;
    float:left;
    .bioCont {
      .titleCont {
        flex: 3;
        display: flex;
        flex-flow: row nowrap;
        margin-top: 20px;
        .sep {
          border-top: 2px solid;
          flex: 5;
          &.left{
            @include fade-border(bottom, left);
          }
          &.right{
            @include fade-border(bottom, right);
          }
        }
        .title {
          font-size: 1.3em;
          letter-spacing: 6px;
          margin-top: -2vh;
          text-align: center;
          flex-grow: 1;
          text-transform: uppercase;
        }
      }
      p {
        margin-top: 20px;
        text-align: left;
        padding: 0 15px;
      }
    }
  }
}
.footer {
  width: 100%;
  .subMenu {
    display: flex;
    flex-flow: row nowrap;

    .separator, .separator-small{
      border-bottom: 2px solid;
      margin-bottom: 15px;
    }

    .sep {
      flex: 4;
      border-bottom: 2px solid;
      margin-bottom: 15px;
      &.left{
        @include fade-border(top, left);
      }
      &.right{
        @include fade-border(top, right);
      }
    }
    a {
      color: $glow-green;
      text-decoration: none;
      padding: 0 15px;
      margin-top: 15px;
      text-transform: uppercase;
      &:hover, &.active {
        cursor: pointer;
        outline: 2px solid;
        background: rgba(0, 230, 103, 0.2);
      }
    }
  }
}